extends layout

block content
  section.hgroup
    .container
      h1 Обратная связь
      h2 Пожелания и предложения
      ul.breadcrumb.pull-right
        li
          a(href='index.html') Домой
        li.active Контакты
  section
    .container
      .row
        .office_address.col-sm-4.col-md-4
          .team_member
            img(src='images/restart_logo.png', width='90', height='90', alt='logo')
            h5 {re}start, HTML
            small Web-Development Company
            br
            br
            .team_social
              a(href='https://www.facebook.com')
                i.fa.fa-facebook
              a(href='https://twitter.com/leonartgr')
                i.fa.fa-twitter
              a(href='#pinterest')
                i.fa.fa-linkedin
              a(href='https://github.com/PlethoraThemes')
                i.fa.fa-github-alt
            address
              strong
              br
              |                               795 Folsom Ave, Suite 600
              br
              |                               San Francisco, CA 94107
              br
              abbr(title='Phone') P:
              |  (123) 456-7890
            address
              abbr(title='Phone') E:
              a(href='mailto:#') first.last@example.com

        .contact_form.col-sm-8.col-md-8
          form#contact_form(method='post', action='contact/send')
            .row
              .col-sm-6.col-md-6
                label Имя
                input#name.form-control(name='name', type='text', value='')
              .col-sm-6.col-md-6
                label E-mail
                input#email.form-control(name='email', type='text', value='')
            .row
              .col-sm-12.col-md-12
                label Тема
                input#subject.form-control(name='subject', type='text')
            .row
              .col-sm-12.col-md-12
                label Сообщение
                textarea#message.form-control(name='msg', rows='8')
              .col-sm-12.col-md-12
                br
                button#submit_btn.btn.btn-primary(type='submit') Submit Message
                //span#notice.alert.alert-warning.alert-dismissable.hidden(style='margin-left:20px;')