doctype html
html
  head
    title="myHouse. " + title
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic', rel='stylesheet', type='text/css')
    meta(charset='utf-8')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/stylesheets/animate.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/flexslider.css', type='text/css', media='screen')
    link(rel='stylesheet', href='/stylesheets/prettyPhoto.css', type='text/css', media='screen')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/styles.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='fonts/font-awesome/css/font-awesome.min.css', media='screen')
    // Fav and touch icons
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='apple-touch-fa-57x57-precomposed.png')
    link(rel='shortcut icon', href='favicon.png')
  body.collapsing_header(data-current='home')
    header
      .container
        .navbar.navbar-default(role='navigation')
          .navbar-header
            a.navbar-brand(href='/')
              img(src='/images/myhouse_logo.png', alt='optional logo', height='90', width='90')
              span.logo_title
                | my
                strong House
              span.logo_subtitle свой дом - это просто
            a.btn.btn-navbar.btn-default.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
              span.nb_left.pull-left
                span.fa.fa-reorder
              span.nb_right.pull-right меню
          .collapse.navbar-collapse
            ul.nav.pull-right.navbar-nav
              li(class='home '+(title === 'Расчёт строительства дома Online' ? 'active' : ''))
                a(href='/') Домой
              li(class='calculator '+(title === 'Калькулятор строительства дома' ? 'active' : ''))
                a(href='/calculator') Калькулятор
              //li.disabled(class=(title === 'Личный кабинет' ? 'active' : ''))
              //  a Личный кабинет
              li(class='contact ' +(title === 'Контакты' ? 'active' : ''))
                a(href='/contact') Контакты
        #social_media_wrapper
          a(href='https://www.facebook.com')
            i.fa.fa-facebook
          a(href='https://twitter.com')
            i.fa.fa-twitter
          a(href='#googleplus')
            i.fa.fa-google-plus
        #sign
          a(href='/login')
            i.fa.fa-user
            span Войти / Регистрация
    block slider
    .main
      .content
        block content
      footer
        section.copyright
          .container
            .row
              .col-sm-6.col-md-6  Copyright © alex_ponti 2015 all rights reserved
    script(data-main='/javascripts/app.js', src='/javascripts/require.js')