<body class="collapsing_header">
<header>
    <div class="container">
        <div role="navigation" class="navbar navbar-default">
            <div class="navbar-header"><a href="/" class="navbar-brand"><img src="/images/myhouse_logo.png" alt="optional logo" height="90" width="90"/><span class="logo_title">my<strong>House</strong></span><span class="logo_subtitle">свой дом - это просто</span></a><a data-toggle="collapse" data-target=".navbar-collapse" class="btn btn-navbar btn-default navbar-toggle"><span class="nb_left pull-left"><span class="fa fa-reorder"></span></span><span class="nb_right pull-right">меню</span></a></div>
            <div class="collapse navbar-collapse">
                <ul class="nav pull-right navbar-nav">
                    <li class="home "><a href="/">Домой</a></li>
                    <li class="calculator "><a href="/calculator">Калькулятор</a></li>
                    <li class="contact "><a href="/contact">Контакты</a></li>
                </ul>
            </div>
        </div>
        <!--TODO-->
        <!--Implement after accounts creation in social media-->
        <!--#social_media_wrapper-->
        <!--  a(href='https://www.facebook.com')-->
        <!--    i.fa.fa-facebook-->
        <!--  a(href='https://twitter.com')-->
        <!--    i.fa.fa-twitter-->
        <!--  a(href='#googleplus')-->
        <!--    i.fa.fa-google-plus-->
        <!--TODO-->
        <!--Implement sign in and sign up-->
        <!--#sign-->
        <!--  a(href='/login')-->
        <!--    i.fa.fa-user-->
        <!--    span Войти / Регистрация-->
    </div>
</header>
<section id="slider_wrapper" class="slider_wrapper full_page_photo home page">
    <div id="main_flexslider" class="flexslider">
        <ul class="slides">
            <li style="background-image: url(images/1.jpg)" class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1> стоимость строительства<br/> в режиме<strong> Online</strong></h1>
                        <p class="lead skincolored">my<strong>House</strong> позволяет оценить<strong> стоимость строительства дома</strong> самостоятельно</p>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/2.jpg)" class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>адаптируйте проект под<strong> бюджет</strong></h1>
                        <p class="lead skincolored">баланс между Вашими требованиями и деньгами</p>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/3.jpg)" class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="skincolored"><strong>учёт расходов</strong><br/>на мобильных устройствах</h1>
                        <p class="lead">отчёты и аналитика, связь с прорабом и строителями</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<div class="main">
  <div class="content">
    <section class="page home">
        <section class="call_to_action">
            <div class="container">
                <h3>Сделайте первый шаг</h3>
                <h4>на пути к будущему дому</h4><a href="/calculator" class="btn btn-primary btn-lg">Начать</a>
            </div>
        </section>
        <section class="features_teasers_wrapper">
            <div class="container">
                <div class="row">
                    <div class="feature_teaser col-sm-4 col-md-4"><img alt="responsive" src="images/fast.png"/>
                        <h3>Быстро</h3>
                        <p>Расчёт в режиме<strong> Online</strong> занимает считанные секунды после уточнения параметров</p>
                    </div>
                    <div class="feature_teaser col-sm-4 col-md-4"><img alt="responsive" src="images/hammer.png"/>
                        <h3>Удобно</h3>
                        <p><strong>Контролируйте</strong> строителей
                            и своевременно получайте информацию о статусе работ
                        </p>
                    </div>
                    <div class="feature_teaser col-sm-4 col-md-4"><img alt="responsive" src="images/responsive.png"/>
                        <h3>Доступно</h3>
                        <p><strong>Любые</strong> устройства с доступом в Интернет по всему миру</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio_teasers_wrapper">
            <div class="container">
                <h2 class="section_header fancy centered">Примеры использования<small> Оцените, как приложение myHouse позволяет людям строить качественные дома быстро и легко</small></h2>
                <div class="portfolio_strict row">
                    <div class="col-sm-4 col-md-4">
                        <div class="portfolio_item wow animated flipInX"><a href="#" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                            <figure style="background-image:url(images/portfolio/p1.jpg)">
                                <svg viewbox="0 0 180 320" preserveaspectratio="none">
                                    <path d="M 180,0 0,0 0,0 180,0 z"></path>
                                </svg>
                                <figcaption>
                                    <p>Если вы хотите вести учет и знать куда расходуются Ваши средства во время строительства дома ...</p>
                                    <div class="view_button">Подробнее</div>
                                </figcaption>
                            </figure></a>
                            <div class="portfolio_description">
                                <h3><a href="#">Кирилл, строит дом</a></h3>
                                <p>Учёт расходов и стройматериалов</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="portfolio_item wow animated flipInX"><a href="#" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                            <figure style="background-image:url(images/portfolio/p2.jpg)">
                                <svg viewbox="0 0 180 320" preserveaspectratio="none">
                                    <path d="M 180,0 0,0 0,0 180,0 z"></path>
                                </svg>
                                <figcaption>
                                    <p>Как спроектировать дом и не увеличить бюджет на строительство?</p>
                                    <div class="view_button">Подробнее</div>
                                </figcaption>
                            </figure></a>
                            <div class="portfolio_description">
                                <h3><a href="#">Альбина, мечтает о даче</a></h3>
                                <p>Проектирование и оценка бюджета</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="portfolio_item wow animated flipInX"><a href="#" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                            <figure style="background-image:url(images/portfolio/p3.jpg)">
                                <svg viewbox="0 0 180 320" preserveaspectratio="none">
                                    <path d="M 180,0 0,0 0,0 180,0 z"></path>
                                </svg>
                                <figcaption>
                                    <p>Максим ведёт online контроль за рабочими и использует прозрачную систему отчетности перед заказчиком</p>
                                    <div class="view_button">Подробнее</div>
                                </figcaption>
                            </figure></a>
                            <div class="portfolio_description">
                                <h3><a href="#">Максим, прораб</a></h3>
                                <p>Оперативная связь с заказчиком</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="page calculator">
      <section class="hgroup">
          <div class="container">
              <h1>Калькулятор</h1>
              <h2>Характеристики Вашего дома</h2>
              <ul class="breadcrumb pull-right">
                  <li><a href="/">Домой</a></li>
                  <li class="active">Калькулятор</li>
              </ul>
          </div>
      </section>
      <section class="form active">
            <div class="container">
                <div class="row">
                    <div class="calculator_preview col-sm-4 col-md-4">
                        <div class="team_member"><img src="/images/house_with_dimensions.png" width="200" height="132" alt="house calculator"/><br/></div>
                    </div>
                    <div class="calculation col-sm-8 col-md-8">
                        <form id="calculation" method="post" action="calculator/calculate" class="form-horizontal">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <label>Ширина дома</label>
                                        <input name="sideA" placeholder="8" value="8" class="form-control"/>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <label>Длина дома</label>
                                        <input name="sideB" placeholder="12" value="12" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <label>Этажей в доме</label>
                                        <select name="floors" class="form-control">
                                            <option value="1">1</option>
                                            <option value="2" selected="selected">2</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <label>Количество комнат</label>
                                        <select name="rooms" class="form-control">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="3" selected="selected">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <label>Фундамент</label>
                                        <select name="foundation" class="form-control">
                                            <option value="plita">Плитный</option>
                                            <option value="lenta" selected="selected">Ленточный</option>
                                            <option value="stolb">Винтовой</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <label>Кровля</label>
                                        <select name="roof" class="form-control">
                                            <option value="flat">Плоская</option>
                                            <option value="2skat" selected="selected">2-скатная</option>
                                            <option value="valma">Вальма</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <button id="submit_btn" type="submit" class="btn btn-primary">Отправить</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </section>
      <section class="results"></section>
    </section>
    <section class="page contact">
      <section class="hgroup">
          <div class="container">
              <h1>Обратная связь</h1>
              <h2>Пожелания и предложения</h2>
              <ul class="breadcrumb pull-right">
                  <li><a href="/">Домой</a></li>
                  <li class="active">Контакты</li>
              </ul>
          </div>
      </section>
      <section>
          <div class="container">
              <div class="row">
                  <div class="office_address col-sm-4 col-md-4">
                      <div class="team_member"><a><i class="fa fa-envelope fa-4x"></i></a>
                          <h5>myHouse</h5><small>Свободный проект</small><br/><br/>
                          <div class="team_social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                          <address><strong></strong>                              Россия<br/>                              Москва</address>
                          <address><abbr title="E-mail">E:&nbsp;</abbr><a href="mailto:myhouse@gmail.com">myhouse@gmail.com</a></address>
                      </div>
                  </div>
                  <div class="contact_form col-sm-8 col-md-8">
                      <form id="contact" method="post" action="contact/send">
                          <div class="row">
                              <div class="col-sm-6 col-md-6">
                                  <label>Имя</label>
                                  <input id="name" name="name" type="text" value="" class="form-control"/>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                  <label>E-mail</label>
                                  <input id="email" name="email" type="text" value="" class="form-control"/>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-12 col-md-12">
                                  <label>Тема</label>
                                  <input id="subject" name="subject" type="text" class="form-control"/>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-12 col-md-12">
                                  <label>Сообщение</label>
                                  <textarea id="message" name="msg" rows="8" class="form-control"></textarea>
                              </div>
                              <div class="col-sm-12 col-md-12"><br/>
                                  <button id="submit_btn" type="submit" class="btn btn-primary">Отправить</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </section>
    </section>
    </div>
  <footer>
    <section class="twitter_feed_wrapper">
      <div class="container">
          <div class="row wow animated fadeInUp">
              <div class="twitter_feed_icon col-sm-1 col-md-1"><a><i class="fa fa-comments"></i></a></div>
              <div class="col-sm-11 col-md-11">
                  <blockquote>
                      <p>Иметь собственный дом, удобный и уютный, где можно почувствовать себя защищенным, любимым и счастливым, мечтает любое живое существо.</p>                                   — Олег Рой “Ловушка для влюбленных”
                  </blockquote>
              </div>
          </div>
      </div>
    </section>
    <section id="footer_teasers_wrapper">
      <div class="container">
            <div class="row">
                <div class="footer_teaser col-sm-4 col-md-4">
                    <h3>О нас</h3>
                    <p>myHouse - свободный проект, который развивается за счёт людей, их мыслей и идей. Сделаем сервис лучше вместе!</p>
                    <p><i class="fa fa-map-marker"></i> Москва, Россия</p>
                    <p><i class="fa fa-envelope"></i> myHouse@gmail.com</p>
                </div>
                <div class="footer_teaser col-sm-4 col-md-4">
                    <h3>Новости</h3>
                    <ul class="media-list">
                        <li class="media"><a href="#" style="background-image:url(images/news1.jpg)" class="media-photo"></a><a href="#" class="media-date">14<span>Января</span></a>
                            <h5 class="media-heading"><a href="#">Новостей пока нет</a></h5>
                            <p>Совсем скоро ожидается релиз</p>
                        </li>
                        <li class="media"><a href="#" style="background-image:url(images/news2.jpg)" class="media-photo"></a><a href="#" class="media-date">15<span>Января</span></a>
                            <h5 class="media-heading"><a href="#">Новостей пока нет</a></h5>
                            <p>Совсем скоро ожидается релиз</p>
                        </li>
                    </ul>
                </div>
                <div id="latest-flickr-images" class="footer_teaser col-sm-4 col-md-4">
                    <h3>Flickr</h3>
                    <ul></ul>
                    <p>дом и стройка в ленте flickr</p>
                </div>
            </div>
        </div>
    </section>
    <section class="copyright">
      <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6"> Copyright ©2016 all rights reserved</div>
                <div class="text-right col-sm-6 col-md-6">myHouse</div>
            </div>
        </div>
    </section>
    </footer>
</div>
</body>