body.collapsing_header
  header
    .container
      .navbar.navbar-default(role='navigation')
        .navbar-header
          a.navbar-brand(href='/')
            img(src='/images/myhouse_logo.png', alt='optional logo', height='90', width='90')
            span.logo_title
              | my
              strong House
            span.logo_subtitle свой дом - это просто
          a.btn.btn-navbar.btn-default.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
            span.nb_left.pull-left
              span.fa.fa-reorder
            span.nb_right.pull-right меню
        .collapse.navbar-collapse
          ul.nav.pull-right.navbar-nav
            li(class='home '+(title === 'Расчёт строительства дома Online' ? 'active' : ''))
              a(href='/') Домой
            li(class='calculator '+(title === 'Калькулятор строительства дома' ? 'active' : ''))
              a(href='/calculator') Калькулятор
            li(class='contact ' +(title === 'Контакты' ? 'active' : ''))
              a(href='/contact') Контакты
      //TODO
      //Implement after accounts creation in social media
      //#social_media_wrapper
      //  a(href='https://www.facebook.com')
      //    i.fa.fa-facebook
      //  a(href='https://twitter.com')
      //    i.fa.fa-twitter
      //  a(href='#googleplus')
      //    i.fa.fa-google-plus
      //TODO
      //Implement sign in and sign up
      //#sign
      //  a(href='/login')
      //    i.fa.fa-user
      //    span Войти / Регистрация
  section#slider_wrapper.slider_wrapper.full_page_photo.home.page
    #main_flexslider.flexslider
      ul.slides
        li.item(style='background-image: url(images/1.jpg)')
          .container
            .carousel-caption
              h1
                |  стоимость строительства
                br
                |  в режиме
                strong
                  |  Online
              p.lead.skincolored
                | my
                strong House
                |  позволяет оценить
                strong  стоимость строительства дома
                |  самостоятельно
        li.item(style='background-image: url(images/2.jpg)')
          .container
            .carousel-caption
              h1
                | адаптируйте проект под
                strong  бюджет
              p.lead.skincolored
                | баланс между Вашими требованиями и деньгами
        li.item(style='background-image: url(images/3.jpg)')
          .container
            .carousel-caption
              h1.skincolored
                strong учёт расходов
                br
                | на мобильных устройствах
              p.lead
                | отчёты и аналитика, связь с прорабом и строителями
  .main
    .content
      section.page.home
        section.call_to_action
          .container
            h3 Сделайте первый шаг
            h4 на пути к будущему дому
            a.btn.btn-primary.btn-lg(href='/calculator') Начать
        section.features_teasers_wrapper
          .container
            .row
              .feature_teaser.col-sm-4.col-md-4
                img(alt='responsive', src='images/fast.png')
                h3 Быстро
                p
                  | Расчёт в режиме
                  strong  Online
                  |  занимает считанные секунды после уточнения параметров
              .feature_teaser.col-sm-4.col-md-4
                img(alt='responsive', src='images/hammer.png')
                h3 Удобно
                p
                  strong Контролируйте
                  |  строителей
                  |  и своевременно получайте информацию о статусе работ
              .feature_teaser.col-sm-4.col-md-4
                img(alt='responsive', src='images/responsive.png')
                h3 Доступно
                p
                  strong Любые
                  |  устройства с доступом в Интернет по всему миру
        section.portfolio_teasers_wrapper
          .container
            h2.section_header.fancy.centered
              | Примеры использования
              small  Оцените, как приложение myHouse позволяет людям строить качественные дома быстро и легко
            .portfolio_strict.row
              .col-sm-4.col-md-4
                .portfolio_item.wow.animated.flipInX
                  a(href='portfolio_item.html', data-path-hover='M 180,190 0,158 0,0 180,0 z')
                    figure(style='background-image:url(images/portfolio/p4.jpg)')
                      svg(viewbox='0 0 180 320', preserveaspectratio='none')
                        path(d='M 180,0 0,0 0,0 180,0 z')
                      figcaption
                        p
                          | Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....
                        .view_button View
                  .portfolio_description
                    h3
                      a(href='portfolio_item.html') Кирилл, строит дом
                    p Проектирование и оценка бюджета
              .col-sm-4.col-md-4
                .portfolio_item.wow.animated.flipInX
                  a(href='portfolio_item.html', data-path-hover='M 180,190 0,158 0,0 180,0 z')
                    figure(style='background-image:url(images/portfolio/a5.jpg)')
                      svg(viewbox='0 0 180 320', preserveaspectratio='none')
                        path(d='M 180,0 0,0 0,0 180,0 z')
                      figcaption
                        p
                          | Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....
                        .view_button View
                  .portfolio_description
                    h3
                      a(href='portfolio_item.html') Альбина, мечтает о даче
                    p Учёт расходов и стройматериалов
              .col-sm-4.col-md-4
                .portfolio_item.wow.animated.flipInX
                  a(href='portfolio_item.html', data-path-hover='M 180,190 0,158 0,0 180,0 z')
                    figure(style='background-image:url(images/portfolio/p1.jpg)')
                      svg(viewbox='0 0 180 320', preserveaspectratio='none')
                        path(d='M 180,0 0,0 0,0 180,0 z')
                      figcaption
                        p
                          | Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....
                        .view_button View
                  .portfolio_description
                    h3
                      a(href='portfolio_item.html') Максим, прораб
                    p Оперативная связь с заказчиком
      section.page.calculator
        section.hgroup
          .container
            h1 Калькулятор
            h2 Характеристики Вашего дома
            ul.breadcrumb.pull-right
              li
                a(href='/') Домой
              li.active Калькулятор
        section
          .container
            .row
              .calculator_preview.col-sm-4.col-md-4
                .team_member
                  img(src='/images/house_with_dimensions.png', width='200', height='132', alt='house calculator')
                  br
              .calculation.col-sm-8.col-md-8
                form.form-horizontal.calculation(method='post', action='calculator/calculate')
                  fieldset
                    .row
                      .col-sm-6.col-md-6
                        label Ширина дома
                        input.form-control(name='sideA', placeholder='8', value=8)
                      .col-sm-6.col-md-6
                        label Длина дома
                        input.form-control(name='sideB', placeholder='12', value=12)
                    .row
                      .col-sm-6.col-md-6
                        label Этажей в доме
                        select.form-control(name='floors')
                          option(value='1') 1
                          option(value='2' selected) 2
                      .col-sm-6.col-md-6
                        label Количество комнат
                        select.form-control(name='rooms')
                          option(value='1') 1
                          option(value='1') 2
                          option(value='3' selected) 3
                          option(value='4') 4
                    .row
                      .col-sm-6.col-md-6
                        label Фундамент
                        select.form-control(name='foundation')
                          option(value='plita') Плитный
                          option(value='lenta' selected) Ленточный
                          option(value='stolb') Винтовой
                      .col-sm-6.col-md-6
                        label Кровля
                        select.form-control(name='roof')
                          option(value='flat') Плоская
                          option(value='2skat' selected) 2-скатная
                          option(value='valma') Вальма
                    .row
                      .col-sm-6.col-md-6
                        button#submit_btn.btn.btn-primary(type='submit') Отправить
      section.page.contact
        section.hgroup
          .container
            h1 Обратная связь
            h2 Пожелания и предложения
            ul.breadcrumb.pull-right
              li
                a(href='index.html') Домой
              li.active Контакты
        section
          .container
            .row
              .office_address.col-sm-4.col-md-4
                .team_member
                  img(src='/images/myhouse_logo.png', width='90', height='90', alt='logo')
                  h5 {re}start, HTML
                  small Web-Development Company
                  br
                  br
                  .team_social
                    a(href='https://www.facebook.com')
                      i.fa.fa-facebook
                    a(href='https://twitter.com/leonartgr')
                      i.fa.fa-twitter
                    a(href='#pinterest')
                      i.fa.fa-linkedin
                    a(href='https://github.com/PlethoraThemes')
                      i.fa.fa-github-alt
                  address
                    strong
                    br
                    |                               795 Folsom Ave, Suite 600
                    br
                    |                               San Francisco, CA 94107
                    br
                    abbr(title='Phone') P:
                    |  (123) 456-7890
                  address
                    abbr(title='Phone') E:
                    a(href='mailto:#') first.last@example.com
              .contact_form.col-sm-8.col-md-8
                form#contact_form(method='post', action='contact/send')
                  .row
                    .col-sm-6.col-md-6
                      label Имя
                      input#name.form-control(name='name', type='text', value='')
                    .col-sm-6.col-md-6
                      label E-mail
                      input#email.form-control(name='email', type='text', value='')
                  .row
                    .col-sm-12.col-md-12
                      label Тема
                      input#subject.form-control(name='subject', type='text')
                  .row
                    .col-sm-12.col-md-12
                      label Сообщение
                      textarea#message.form-control(name='msg', rows='8')
                    .col-sm-12.col-md-12
                      br
                      button#submit_btn.btn.btn-primary(type='submit') Отправить
    footer
      section.copyright
        .container
          .row
            .col-sm-6.col-md-6  Copyright © alex_ponti 2015 all rights reserved