<section class="call_to_action">
    <div class="container">
        <h3>Сделайте первый шаг</h3>
        <h4>на пути к будущему дому</h4><a href="/calculator" class="btn btn-primary btn-lg">Начать</a>
    </div>
</section>
<section class="features_teasers_wrapper">
    <div class="container">
        <div class="row">
            <div class="feature_teaser col-sm-4 col-md-4"><img alt="responsive" src="images/fast.png"/>
                <h3>Быстро</h3>
                <p>Расчёт в режиме<strong> Online</strong> занимает считанные секунды после уточнения параметров</p>
            </div>
            <div class="feature_teaser col-sm-4 col-md-4"><img alt="responsive" src="images/hammer.png"/>
                <h3>Удобно</h3>
                <p><strong>Контролируйте</strong> строителей
                    и своевременно получайте информацию о статусе работ
                </p>
            </div>
            <div class="feature_teaser col-sm-4 col-md-4"><img alt="responsive" src="images/responsive.png"/>
                <h3>Доступно</h3>
                <p><strong>Любые</strong> устройства с доступом в Интернет по всему миру</p>
            </div>
        </div>
    </div>
</section>
<section class="portfolio_teasers_wrapper">
    <div class="container">
        <h2 class="section_header fancy centered">Примеры использования<small> Оцените, как приложение myHouse позволяет людям строить качественные дома быстро и легко</small></h2>
        <div class="portfolio_strict row">
            <div class="col-sm-4 col-md-4">
                <div class="portfolio_item wow animated flipInX"><a href="portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                    <figure style="background-image:url(images/portfolio/p4.jpg)">
                        <svg viewbox="0 0 180 320" preserveaspectratio="none">
                            <path d="M 180,0 0,0 0,0 180,0 z"></path>
                        </svg>
                        <figcaption>
                            <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                            <div class="view_button">View</div>
                        </figcaption>
                    </figure></a>
                    <div class="portfolio_description">
                        <h3><a href="portfolio_item.html">Кирилл, строит дом</a></h3>
                        <p>Проектирование и оценка бюджета</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="portfolio_item wow animated flipInX"><a href="portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                    <figure style="background-image:url(images/portfolio/a5.jpg)">
                        <svg viewbox="0 0 180 320" preserveaspectratio="none">
                            <path d="M 180,0 0,0 0,0 180,0 z"></path>
                        </svg>
                        <figcaption>
                            <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                            <div class="view_button">View</div>
                        </figcaption>
                    </figure></a>
                    <div class="portfolio_description">
                        <h3><a href="portfolio_item.html">Альбина, мечтает о даче</a></h3>
                        <p>Учёт расходов и стройматериалов</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="portfolio_item wow animated flipInX"><a href="portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                    <figure style="background-image:url(images/portfolio/p1.jpg)">
                        <svg viewbox="0 0 180 320" preserveaspectratio="none">
                            <path d="M 180,0 0,0 0,0 180,0 z"></path>
                        </svg>
                        <figcaption>
                            <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                            <div class="view_button">View</div>
                        </figcaption>
                    </figure></a>
                    <div class="portfolio_description">
                        <h3><a href="portfolio_item.html">Максим, прораб</a></h3>
                        <p>Оперативная связь с заказчиком</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>